.container
  .sixteen.columns
    - if can? :create, @event 
      %h4.new= link_to 'New Event', new_event_path
    %br
    = paginate @events 
    %br
    - @events.each do |event|
      .container
        .row
          .event_item
            .info.five.columns.alpha
              %p.title= event.title
              %p.start= event.start_date.asctime
              %p.desc= event.description
              %p
                - if number_to_currency(event.price) != "$0.00"
                  = number_to_currency(event.price)
                - else
                  = "Free!"
              - if user_signed_in?
                #add-to-user=link_to("Register", register_event_path(event.id), method: :post, data: current_user)  
            .six.columns
              %img.event_img{:src => event.image_url}      
              %div.nav
                - if can? :update, @event
                  = link_to 'Edit', edit_event_path(event)
                - if can? :destroy, @event
                  = link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
                  = link_to 'Show', event 
            %div.location.four.columns.omega
              = "#{event.street} #{event.street2}"
              %br
              = "#{event.city}, #{event.state} #{event.zip}"



