= paginate @events 
%body
  - @events.each do |event|
    %div.event_item.container
      .six.columns.alpha
        .info
          %p.title= event.title
          %p.start= event.start_date
          %p.city= event.city
          %p.street= event.street
          %p.street2= event.street2
          %p.state= event.state
          %p.zip= event.zip
          %div
            - if user_signed_in?
              %button#add-to-user=link_to("Register", register_event_path(event.id), method: :post, data: current_user)  

      %div.four.columns
        %img.event_img{:src => event.image_url}
      %div.three.columns.omega
        %p= link_to 'Show', event          
        %div
          %p= link_to 'New Event', new_event_path
          - if can? :update, @event
            %p= link_to 'Edit', edit_event_path(event)
        %div
          - if can? :destroy, @event
            %p= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }


