<section class='container'>
  <div class='sixteen columns'>
    <p id="notice"><%= notice %></p>
    <table class="cart">
      <tbody>
        <% if current_user.current_cart.line_items.length == 0 %>
        <h3>Your cart is empty.</h3>
        <h5>Want to add to it? Check out the <%= link_to "store.", store_index_path %> It's kind of illegal, which makes it more fun.</h5>
        <% end %>
        <% current_user.current_cart.line_items.order(:created_at).each do |li| %>
        <% if li.beer_id == nil %>
        <% li.event_id %>
        <% event = Event.find li.event_id %>
        <tr>
          <td> <%= event.title %> </td>
          <!-- <img src="<%= (event.image_url) %>"/> -->
          <td> <%= number_to_currency(event.price) %> </td>
          <td> &nbsp; &times; <%= li.quantity  %> quantity  </td>
          <td><%= button_to '+', add_line_item_path(li), :method=>:patch %></td>
          <td><%= button_to '-', subtract_line_item_path(li), :method=>:patch %></td>
          <td><%= button_to 'Remove All', line_item_path(li), :method=>:delete %></td>
          <% else %>
          <% li.beer_id %>
          <% beer = Beer.find li.beer_id %>
        </tr>
        <tr>
          <td> <%= beer.title %> </td>
          <!-- <img src="<%= (beer.image_url) %>"/> -->
          <td> <%= number_to_currency(beer.price) %> </td>
          <td> &nbsp; &times; <%= li.quantity  %> quantity  </td>
          <td><%= button_to '+', add_line_item_path(li), :method=>:patch %></td>
          <td><%= button_to '-', subtract_line_item_path(li), :method=>:patch %></td>
          <td><%= button_to 'Delete', line_item_path(li), :method=>:delete %></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
    <br />
    <span class="amount"></span>
    <br />
    <%= form_tag charges_path do %>
    <article>
    <label class="amount">
      <span id="cart_total">Cart Total: $<%= current_user.current_cart.total_up_cart %> | <%= link_to 'Checkout', shipping_carts_path %>
      </span>
    </label>
<<<<<<< HEAD
    </article>
    <br />
    <br />
    <% end %>
    <%= link_to 'Edit', edit_cart_path(@cart) %> |
    <%= link_to 'Back', carts_path %>
  </div>
</section>
=======
  </article>
<br />
<br />

<% end %>

>>>>>>> 5c20441903dd0587b5af99c529980a6bec1d9cf1
