%p#notice= notice
%table
  %tbody
    - if current_user.current_cart.line_items.length == 0
      %h3 Your cart is empty.
      %h5
        Want to add to it? Check out the #{link_to "store.", root_path} It's kind of illegal, which makes it more fun.
    - current_user.current_cart.line_items.order(:created_at).each do |li|
      - if li.beer_id == nil
        - li.event_id
        - event = Event.find li.event_id
        %tr
          %td
            = event.title
          / <img src="<haml:loud> (event.image_url) </haml:loud>"/>
          %td
            = number_to_currency(event.price)
          %td
            \&nbsp; &times; #{li.quantity} quantity
          %td= button_to '+', add_line_item_path(li), :method=>:patch
          %td= button_to '-', subtract_line_item_path(li), :method=>:patch
          %td= button_to 'Remove All', line_item_path(li), :method=>:delete
      - else
        - li.beer_id
        - beer = Beer.find li.beer_id
        %tr
          %td
            = beer.title
          / <img src="<haml:loud> (beer.image_url) </haml:loud>"/>
          %td
            = number_to_currency(beer.price)
          %td
            \&nbsp; &times; #{li.quantity} quantity
          %td= button_to '+', add_line_item_path(li), :method=>:patch
          %td= button_to '-', subtract_line_item_path(li), :method=>:patch
          %td= button_to 'Remove All', line_item_path(li), :method=>:delete
%br/
= link_to 'Checkout', shipping_carts_path
%br/
= form_tag charges_path do
  %article
    %label.amount
      %span#cart_total
        Cart Total: $#{current_user.current_cart.total_up_cart}
  %br/
  %br/
  %script.stripe-button{"data-amount" => current_user.current_cart.total_up_cart*100, "data-description" => "A month's subscription", "data-key" => Rails.configuration.stripe[:publishable_key], :src => "https://checkout.stripe.com/v2/checkout.js"}
= link_to 'Edit', edit_cart_path(@cart)
|
\#{link_to 'Back', carts_path}
