<p id="notice"><%= notice %></p>
<table>
  <tbody> 
    <% @current_user.current_cart.line_items.each do |li| %>
      <% li.beer_id %>
      <% beer = Beer.find li.beer_id %>
      <tr>
        <td> <%= beer.title %> </td>
        <!-- <img src="<%= (beer.image_url) %>"/> -->
        <td> <%= number_to_currency(beer.price) %> </td>
        <td> &nbsp; &times; <%= li.quantity  %> quantity  </td>
      </tr>
   <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Checkout', shipping_users_path %>

<br />

<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span id="cart_total">Cart Total: $<%= current_user.current_cart.total_up_cart %>
      </span>
    </label>
  </article>
<br />
<br />
  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= current_user.current_cart.total_up_cart*100 %>"></script>
<% end %>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
