%h1
  Events You're Attending
  %br
  %br 
- if current_user.events.length == 0
  You haven't registered to attend any of our vendors events. Check them out 
  = link_to "Here!", events_path
- else
  - current_user.events.each do |event|
    %h2
      = event.title
    = event.description
    %br
    = "#{event.street} #{event.street2}, #{event.city}, #{event.state} #{event.zip}"
    %br
    = "Begins at #{event.start_time.to_s.humanize} on #{event.start_date}"
    %br
    = "Ends on #{event.end_date.to_s.humanize} at #{event.end_time}"
    %br
    = link_to "Cancel Attendance", remove_event_path(event.id), confirm: "Are you sure you don't want to attend?", method: :patch, remote: true
    %br
    %br