= form_for(@beer) do |f|
  - if @beer.errors.any?
    #error_explanation
      %h2
        = pluralize(@beer.errors.count, "error")
        prohibited this beer from being saved:
      %ul
        - @beer.errors.full_messages.each do |msg|
          %li= msg
  .four.columns
    .field
      = f.text_field :title, placeholder: "Name"
    .field
      = f.text_field :image_url, placeholder: "Image URL"
    .field
      = f.text_field :price, placeholder: "Price"
  .four.columns
    .field{style: "width: 300px"}
      = f.text_area :description, rows: 7, placeholder: "Description"
  .two.columns
    .actions
      = f.submit