<p id="notice"><%= notice %></p>

<% if can? :create, Beer %>
  <%= link_to new_beer_path %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @beer.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beer.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @beer.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @beer.price %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
