<div class="nav-out">
  <ul class="nav-list">

    <li><a href="/">HOME</a></li>  
    <li><a href="/store/index">SHOP</a></li>
    <li><a href="/beers">BEER</a></li> 
    <li><a href="/events">EVENTS</a></li> 

    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <li><a href="/users">USERS</a></li>
        <li><a href="/carts">CARTS</a></li>
        <li><a href="/orders/carts/ticket">TICKETS</a></li>
      <% end %>  
      <li>
        <%= link_to "MY INFO", user_path(current_user) %>
          <ul>
            <li><%= link_to "- VIEW", user_path(current_user) %></li>
            <li><%= link_to "- EDIT", edit_user_path(current_user) %></li>
            <li><a href="/carts/<%=current_cart.id%>"><span>- </span>MY CART</a></li>
          </ul>
      </li> 

    <% else %> 
      <li><a href="users/sign_up">SIGN UP</a></li>
    <% end %>

    <%= render 'devise/menu/login_items' %>
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function(){

      $("<select />").prependTo(".nav-out")

      $("<option />", {
        "selected": "selected",
        "value"   : "",
        "text"    : "Go to..."
      }).appendTo(".nav-out select");

      $(".nav-list li a").each(function() {
        var el = $(this);
        $("<option />", {
          "value" : el.attr("href"),
          "text"  : el.text()
        }).appendTo(".nav-out select");
      })

      $('.nav-out select').change(function() {
        window.location = $(this).find("option:selected").val();
      })

  })
</script>