<section class='container'>
	<div class='sixteen columns'>
		<h1>Beer Catalog</h1>
		<% @beers.each do |beer| %>
		<div class="entry">
			<h3><%= beer.title %></h3>
			<%= image_tag(beer.image_url) %>
			<p><%= sanitize(beer.description) %></p>
			<div class="price_line">
				<span class="price"><%= number_to_currency(beer.price) %></span>
				<%= button_to 'Add to Cart', line_items_path(beer_id: beer) %>
			</div>
		</div>
		<%end%>
	</div>
</section>