<!DOCTYPE html>
<html>
<head>
  <title>LostTribes3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<<<<<<< HEAD
<body class="<%= controller.controller_name %>">
	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
=======
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
>>>>>>> chris

<%= yield %>

</body>
</html>
