<!DOCTYPE html>
<html>
<head>
  <title>LostTribes3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<section class='container'>
    <div class='sixteen columns'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <ul class="hmenu">
        <% if !current_user %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li> / 
        <% end %>
        <%= render 'devise/menu/login_items' %> / 
        <li><a href="/store/index">store</a></li> / 
        <% if current_user %>
          <li><%= link_to "Edit My Profile", edit_user_path(current_user) %></li> / 
        <% end %>
        <li><a href="/beers">beer page</a></li> / 
      	<li><a href="/events">events page</a></li> / 
        <% if current_user %>
          <li><%= link_to "My Page", user_path(current_user) %></li> /
          <li><%= link_to "My Cart", cart_path(current_user.current_cart) %></li>
        <% end %>
        <% if current_user && current_user.admin? %>
          <li> / <%= link_to "Users", users_path %></li>
          <li> / <%= link_to "Carts", carts_path %></li>
        <% end %>
        <% if current_user %>
          <li> / Signed in as <%="#{current_user.name.upcase}"%></li>
        <% end %>
        <% if current_user && current_user.admin? %>
          <li><%= link_to "Tickets", ticket_user_path(current_user.id) %></li>
        <% end %>
      </ul>

      <%= yield %>
    </div>
  </section>
</body>
</html>
