!!!
%html
  %head
    %title LostTribes3
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{style: "margin-top: -0px"}
    .none{style: " margin-bottom: -20px;"}
      = render partial: "layouts/partials/nav"
    %p.notice= notice
    %p.alert= alert
    .section
      = yield

    / HELLLLOOOOO HELOOOO